@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins';
}
h1{
    font-size: 35px;
    font-weight: bold;
    padding:20px;
}

#login-box{
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0,255,0,0.1);
}
#login-box form{
    width:500px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid silver;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.2);
}
#alert,#alert1{
    display: none;
}

#navbar{
    position: fixed;
    top:0;
    left:0;
    width:280;
    height:100vh;
}

.grid{
    display: grid;
    grid-template-columns: 280px 1fr;
}